<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2>Le faltan <%= pluralize(@form.errors.count, "") %> preguntas, Por favor rellenelos para finalizar el formulario</h2>

      
    </div>
  <% end %>
<form>
  <div class="form-group">
      <%= f.label :nombre, '¿Cual es el nombre de su empresa?'%><br>
     <%= f.text_field :nombre, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rubro, '¿Cual es su rubro?'%><br>
    <%= f.text_field :rubro, :class => "form-control" %>
  </div>
  <div class="form-group">
          <%= f.label :numero_trabajador, '¿Cuantos trabajadores contrata anualmente?' %>
          <select class="form-control" name="form[numero_trabajador]" id="numero_trabajador"><option value="">Por favor seleccione...</option>
          <%= options_for_select([['1-5'], ['6-10'], ['11-20'], ['mas de 20']]) %>
          </select>
  </div>
  <div class="form-group">
          <%= f.label :numero_recien_egresado, '¿Cuantos de estos son recien egresados?' %>
          <select class="form-control" name="form[numero_recien_egresado]" id="numero_recien_egresado"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['menos del 10%'], ['entre un 10% y 30%'], ['entre un 30% y 50%'],['mas de un 50%']]) %>
          </select>
  </div>
   <div class="form-group">
          <%= f.label :interes_egresado, '¿Le interesaria o interesa reclutar personal recien egresados de universidades o institutos?'%><br>
          <select class="form-control" name="form[interes_egresado]" id="interes_egresado"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['Si'], ['No']]) %>
          </select>
  </div>
  <div class="form-group">
          <%= f.label :gastos_anuale_reclutamiento, '¿Cuanto gasta anualmente en reclutamiento?'%><br>
          <select class="form-control" name="form[gastos_anuale_reclutamiento]" id="gastos_anuale_reclutamiento"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['Menos de $50.000'], ['Entre $50.001 y $100.000'], ['Entre $100.001 y $250.00'], ['Entre $250.001 y $500.000'], ['mas de $500.000']]) %>
          </select>
  </div>
  <div class="form-group">
           <%= f.label :tiempo_reclutamiento, '¿Cuanto tiempo invierte en todo su proceso de reclutamiento?'%><br>
          <select class="form-control" name="form[tiempo_reclutamiento]" id="tiempo_reclutamiento"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['1 Semana'], ['2 semanas'], ['3 semanas'], ['1 mes'], ['Mas de 1 mes']]) %>
          </select>
  </div> 
  <div class="form-group">
           <%= f.label :dificultad_encontrar_candidato, '¿Le es dificil encontrar candidatos acorde a sus necesidades?'%><br>
          <select class="form-control" name="form[dificultad_encontrar_candidato]" id="dificultad_encontrar_candidato"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['No'], ['Algo'], ['Si']]) %>
          </select>
  </div> 
   <div class="form-group">
          <%= f.label :interes_pagina, '¿Le interesaria un portal donde tenga una base de datos completa de recien egresados?'%><br>
          <select class="form-control" name="form[interes_pagina]" id="interes_pagina"><option value="">Por favor seleccione...</option>
           <%= options_for_select([['Si'], ['No']]) %>
          </select>
  </div> 
  <div class="form-group">
          <%= f.label :imprecion_egresado, '¿Que impresion tiene de los recien egresados?' %><br>
          
          <%= f.text_area :imprecion_egresado, :class => "form-control" %>
  </div>
   <div class="form-group">
      <%= f.label :portal_utilizado, '¿Utiliza algun portal o pagina para hacer su captacion de personal?' %><br>
      <%= f.text_field :portal_utilizado, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar formulario" %>
  </div>
</form>
<% end %>