<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @form.nombre %>
</p>

<p>
  <strong>Rubro:</strong>
  <%= @form.rubro %>
</p>

<p>
  <strong>Numero trabajador:</strong>
  <%= @form.numero_trabajador %>
</p>

<p>
  <strong>Numero recien egresado:</strong>
  <%= @form.numero_recien_egresado %>
</p>

<p>
  <strong>Imprecion egresado:</strong>
  <%= @form.imprecion_egresado %>
</p>

<p>
  <strong>Interes egresado:</strong>
  <%= @form.interes_egresado %>
</p>

<p>
  <strong>Gastos anuale reclutamiento:</strong>
  <%= @form.gastos_anuale_reclutamiento %>
</p>

<p>
  <strong>Tiempo reclutamiento:</strong>
  <%= @form.tiempo_reclutamiento %>
</p>

<p>
  <strong>Dificultad encontrar candidato:</strong>
  <%= @form.dificultad_encontrar_candidato %>
</p>

<p>
  <strong>Interes pagina:</strong>
  <%= @form.interes_pagina %>
</p>

<p>
  <strong>Portal utilizado:</strong>
  <%= @form.portal_utilizado %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
