<!DOCTYPE html>
<html>
<head>
  <title>Preguntas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="text-center">
	<%= image_tag("logo.png") %>
</div>
<%= yield %>

</body>
</html>
